==
<!-- Footer -->
<a id="contactos"></a>

<div class="footer-section">
    <div class="footer-top pd-top-60">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 footer-widget">
                    <div class="footer-logo">
                        <img class="retina" src="{{ 'assets/images/logo-footer.png'|theme }}" alt="logo">
                        <p>Somos una ONG, integrada por un equipo de profesionales y voluntarios, que trabaja desde 1999 por la inclusión social y el desarrollo humano y comunitario de niños y familias en situación de vulnerabilidad, para fomentar la igualdad de oportunidades en el barrio en <b>Rincon de Milberg Tigre.</b></p>
                        <div class="footer-social">
                          <a class="icon-facebook" target="_blank" href="https://www.facebook.com/lacasita.ong"><i class="fa fa-facebook-square fa-2x"></i></a>
                          <a class="icon-twitter" target="_blank" href="https://twitter.com/lacasitaong"><i class="fa fa-twitter-square fa-2x"></i></a>
                          <a class="icon-instagram" target="_blank" href="https://www.instagram.com/lacasita.ong"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                          <a class="icon-linkedin" target="_blank" href="https://www.linkedin.com/company/casa-del-ni%C3%B1o-nueva-familia"><i class="fa fa-linkedin-square fa-2x"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 footer-widget">
                    <div class="footer-address">
                        <h3 class="footer-title">Dirección de la Casita</h3>
                        <p>Matheu 1772, Partido de Tigre,
                            <br>Buenos Aires, Argentina. </p>
                        <p>
                            <i class="fa fa-phone"></i><a href="tel:+54 011 731-8043">+54 011 731 8043</a>
                            <br>
                            <i class="fa fa-envelope-o"></i>info@nuevafamilia.org
                        </p>
                        <div class="footer-map">
                            <a href="contact"><i class="fa fa-map-marker"></i>Formulario de contacto</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 footer-widget">
                    <div class="g-maps">
                        <div id="map" style="height: 291px"></div>
                    </div>
                </div>

                <!-- <div class="col-md-3 col-sm-6 footer-widget">
                    <h3 class="footer-title">Que va aca???</h3>
                    <ul>
                        <li><a href="#">Dolor sit amet, his ferri</a></li>
                        <li><a href="#">probatus neglegentur te,</a></li>
                        <li><a href="#">Affert legere nomina,</a></li>
                        <li><a href="#">Enim semper dictas</a></li>
                        <li><a href="#">Legimus delicata</a></li>
                        <li><a href="#">Nonumes molestie.</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 footer-widget">
                    <h3 class="footer-title">Reportes Anuales</h3>
                    <ul>
                        <li><a href="#">Reports 2016</a></li>
                        <li><a href="#">Commercial reports 2015,</a></li>
                        <li><a href="#">Sales report November, 2016</a></li>
                        <li><a href="#">Half yearly report Jan-Jun 2016</a></li>
                        <li><a href="#">Financial report 2014</a></li>
                        <li><a href="#">Technical report 2015</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- <span><a href="#">Tarms & Condition</a></span>
                    <span>&copy; 2017 beCharity</span> -->
                    <span>Casa del niño "Nueva Familia" ONG sin fines de lucro</span>
                </div>
            </div>
        </div>
    </div>
</div>
