==
<!-- Footer -->
<a id="contactos"></a>

<div class="footer-section">
    <div class="footer-top pd-top-60">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 footer-widget">
                    <div class="footer-logo">
                        <img class="retina" src="{{ 'assets/images/logoHeaderPreloader.png'|theme }}" alt="logo">
                        <p>Somos una ONG, integrada por un equipo de profesionales y voluntarios, que trabaja desde 1999 por la inclusión social y el desarrollo humano y comunitario de niños y familias en situación de vulnerabilidad, para fomentar la igualdad de oportunidades en el barrio en <b>Rincon de Milberg Tigre.</b></p>
                        <div class="footer-social">
                          <a class="icon-facebook" target="_blank" href="https://www.facebook.com/lacasita.ong"><i class="fa fa-facebook-square fa-2x"></i></a>
                          <!-- <a class="icon-twitter" target="_blank" href="https://twitter.com/lacasitaong"><i class="fa fa-twitter-square fa-2x"></i></a> -->
                          <a class="icon-instagram" target="_blank" href="https://www.instagram.com/lacasita.ong"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                          <a class="icon-linkedin" target="_blank" href="https://www.linkedin.com/in/lacasita/"><i class="fa fa-linkedin-square fa-2x"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 footer-widget">
                    <div class="footer-address">
                        <h3 class="footer-title">Dirección de la Casita</h3>
                        <br>
                        <p>Matheu 1972, Partido de Tigre,
                            <br>Buenos Aires, Argentina. </p>
                        <p>
                            <i class="fa fa-phone"></i><a href="tel:+54 11 2132 6992">+54 11 2132 6992</a>
                            <br>
                            <i class="fa fa-whatsapp" aria-hidden="true"></i><a href="tel:+54 911 3190 1186">+ 54 9 11 3190 1186</a>
                            <br>
                            <i class="fa fa-envelope-o"></i>contacto@lacasita.ong
                        </p>
                        <div class="footer-map">
                            <a href="contact"><i class="fa fa-map-marker"></i>Formulario de contacto</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 footer-widget">
                    <div class="g-maps">
                        <div id="map" style="height: 291px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- <span><a href="#">Tarms & Condition</a></span>
                    <span>&copy; 2017 beCharity</span> -->
                    <span>Casa del niño "Nueva Familia" ONG sin fines de lucro</span>
                </div>
            </div>
        </div>
    </div>
</div>