==
<form data-request="{{ __SELF__ }}::onFormSubmit" class="newsletter-form">

    {{ form_token() }}

    <div id="{{ __SELF__ }}_forms_flash"></div>


    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" id="email" name="email" placeholder="Ingrese su email.........">
            <div class="form-group">
                {% partial '@recaptcha' %}
            </div>        
            <div class="input-group-addon search-button">
                <button id="simpleContactSubmitButton" class="btn btn-default" type="submit">SUSCRIBIRME</button>
            </div>
        </div>
    </div>
</form>
